#about {
    .row.nouvelle_maniere {
        align-items: flex-start;
        img {
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateX(52%);
            max-height: 36vw;
        }
        h3 {
            @extend .left;
            @extend .titre-3;
        }
        ul {
            margin: 0 0 20px 1em;
            padding: 0;
            width: 60%;
        }
    }
    .row.lequipe {
        > div {
            position: relative;
            display: flex;
            display: -ms-flexbox;
            margin: 0px -15px;

            > div {
                position: relative;
                margin: 45px 15px;

                &:first-of-type {
                    display: flex;
                    align-items: flex-end;
                    width: calc(45% - 30px);
                }

                &:last-of-type {
                    display: flex;
                    align-items: center;
                    width: calc(55% - 30px);
                    padding-bottom: 75px;
                }
            }

            &:nth-of-type(2n+1) {
                flex-direction: row;

                &:first-of-type {

                    img {
                        height: 200%;
                        max-width: none;
                    }
                }

                p {
                    @extend .j-right;
                }
            }

            &:nth-of-type(2n) {
                flex-direction: row-reverse;
                z-index: 3;

                h3 {
                    &:before {
                        right: 0;
                    }
                }
            }
        }

        h3 {
            @extend .titre-4;
            position: relative;
            font-weight: 900;
            color: $blue;
            background-color: white;
            padding: 7px 5px 7px 32px;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            z-index: 3;
            text-align: center;

            &:before {
                background: url('../images/SVG/border_white.svg');
                z-index: -1;
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                $bg-h: 4px;
                $bg-w: 2500px;
                height: $bg-h;
                width: $bg-w;
                background-repeat: repeat;
                background-size: contain;
                opacity: .4;
            }
        }

        img {
            position: absolute;
            bottom: 0;
            height: auto;
            left: 50%;
            transform: translateX(-50%);
            max-width: 90%;
        }

        p {
            margin: 0;
            text-align: justify;
        }
    }
}
