/* Contact
================================================ */

.row.formulaire {
    align-items: flex-start;
    padding-bottom: 45px;

    h1 {
        margin-bottom: 30px;
    }
    form {
        max-width: 70%;

        p:first-of-type {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: -15px;
            z-index: 2;

            &:nth-child(2) {
                span:nth-child(1), span:nth-child(7) {
                    &:before {
                        background: url('../images/SVG/border_white-min.svg');
                        z-index: 0;
                        content: '';
                        position: absolute;
                        left: -2500px;
                        top: 19px;
                        $bg-h: 4px;
                        $bg-w: 2500px;
                        height: $bg-h;
                        width: $bg-w;
                        background-repeat: repeat;
                        background-size: contain;
                        opacity: .4;
                    }
                }
                span:nth-child(5) {
                    z-index: 1;
                }
            }
            &:nth-child(3) {
                justify-content: center;
                margin-top: 30px;
                margin-bottom: 30px;
                &:before {
                    background: url('../images/dash_right-min.png');
                    z-index: 1;
                    content: '';
                    position: relative;
                    left: -10px;
                    top: 0px;
                    $bg-h: 40px;
                    $bg-w: 40px;
                    height: $bg-h;
                    width: $bg-w;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &:after {
                    background: url('../images/dash_left-min.png');
                    z-index: 1;
                    content: '';
                    position: relative;
                    right: 8px;
                    top: 0px;
                    $bg-h: 40px;
                    $bg-w: 40px;
                    height: $bg-h;
                    width: $bg-w;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }

            .wpcf7-form-control-wrap {
                width: calc(100%/2 - 30px);
                margin: 15px;

                &.message {
                    width: 100%;
                }
            }
        }
        input, textarea {
            border: none;
            color: $blue;
            font-family: 'Arial';
            font-weight: 900;
            font-size: 20px;
            padding: 0 15px;
            outline: 0;
            box-sizing: border-box;
            width: 100%;
            display: block;

            &::placeholder {
                color: $orange;
                font-family: 'Arial';
                font-weight: 900;
                font-size: 20px;
            }
        }
        input {
            height: 40px;
            display: block;
        }
        textarea {
            font-weight: 100;
            color: #444;
            text-align: left;
            font-family: 'Comfortaa';
            font-size: 17px;
            padding: 20px 15px;
            resize: none;
            line-height: 1.7;
            &::placeholder {
                font-weight: 100;
                color: #444;
                font-family: 'Comfortaa';
                font-size: 17px;
            }
        }

        .wpcf7-recaptcha {
            margin: 30px 0;
        }

        .wpcf7-submit {
            color: $orange;
            background-color: white;
            width: 200px;
            padding: 5px 0;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
            transition: $transition;
            cursor: pointer;

            &:hover {
                background-color: lighten($orange, 15%);
                color: #fff;
            }
        }
        .wpcf7-not-valid-tip {
            font-size: 14px;
        }

        .wpcf7-response-output {
            text-align: center;
            padding: 7.5px 15px;
        }
    }

    img {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateX(50%);
        max-height: 45vw;
    }
}
