/*  Fonts
================================================ */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2ff16c');
  src:  url('../fonts/icomoon.eot?2ff16c#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2ff16c') format('truetype'),
    url('../fonts/icomoon.woff?2ff16c') format('woff'),
    url('../fonts/icomoon.svg?2ff16c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="font-icon-"], [class*=" font-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-icon-facebook:before {
  content: "\ea91";
}
.font-icon-instagram:before {
  content: "\ea92";
}
.font-icon-twitter:before {
  content: "\ea96";
}
.font-icon-youtube:before {
  content: "\ea9d";
}
.font-icon-linkedin:before {
  content: "\eac9";
}
