/*  Footer
================================================ */

footer {
    padding: 10px 0;
    background-color: #48494a;

    .container > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: -7.5px -40px;

        > * {
            margin: 7.5px 40px;
        }
    }

    .logo_w {
        height: 75px;
    }
    .coords {
        text-align: center;
        font-size: 18px;
        color: white;
    }
    div.button {
        display: flex;
        justify-content: center;
        transition: $transition;

        a, span {
            background-color: $orange;
            text-align: center;
            font-size: 18px;
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-weight: 700;
            font-family: 'Arial';
            display: table-cell;
            transition: $transition;
            padding: 5px 0;
            width: 220px;
        }

        a {
            &:hover {
                background-color: #fff;
                color: $orange;
            }
        }
    }

    div.social {
        > div {
            display: flex;
            flex-wrap: wrap;
            margin: -10px;
            justify-content: center;

            a {
                font-size: 42px;
                display: inline-flex;
                margin: 10px;
                color: #fff;
                transition: $transition;

                &:hover {
                    text-decoration: none;
                    color: $blue;
                }
            }
        }
    }

    #copyright {
        margin: 20px 0 0;
        text-align: center;
        color: #fff;
        font-size: 12px;
    }
}
