html, body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    > main {
        flex-grow: 1;
    }
}


/*  Text colors
================================================ */
.blue {
    color: $blue;
}
.pink {
    color: $pink;
}
.orange {
    color: $orange;
}

/*  Background colors
================================================ */
.bg-blue {
    background-color: $blue;
}
.bg-pink {
    background-color: $pink;
}
.bg-orange {
    background-color: $orange;
}

@mixin separator {
    border: 0;
    height: 4px;
    background-size: contain;
    background-repeat: repeat-x;
    margin: 0 0 15px 0;
}
.hr-blue {
    @include separator();
    background-image: url('../images/SVG/border_blue.svg');
}
.hr-pink {
    @include separator();
    background-image: url('../images/SVG/border_pink.svg');
}
.hr-orange {
    @include separator();
    background-image: url('../images/SVG/border_orange.svg');
}
.hr-white {
    @include separator();
    background-image: url('../images/SVG/border_white.svg');
    opacity: .4;
}
.separator {
    height: 80px;
}

/*  Container
================================================ */
.row {
    position: relative;
    max-width: 1280px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 45px 0 10px 0;
}

/* Width managing
================================================ */
@for $i from 0 through 100 {
    .row .wd-#{$i} {
        width:1%*$i;
    }
}

/*  Titles
================================================ */
.j-left {
    text-align: justify;
    text-align-last: left;
}
.j-right {
    text-align: justify;
    text-align-last: right;
}
.j-center {
    text-align: justify;
    text-align-last: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.titre-2 {
    background-color: white;
    display: block;
    width: calc(100% - 50px);
    margin: 0;
    padding: 15px 25px;
    font-size: 34px;
}
.titre-3 {
    color: white;
    font-size: 24px;
    margin: 50px 0 10px 0;
    line-height: 1.5;
}
.titre-4 {
    font-size: 22px;
}
li, p {
    font-size: 19px;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

section {

    h2, h3 {
        z-index: 1;
        position: relative;
    }

    p, li, ul, a {
        z-index: 3;
        position: relative;
    }

    .img-section {
        height: 115%;
        max-height: 40vw;
        z-index: 2;
    }
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Arial";
    transition: .2s;
    background-color: $orange;
    padding: 15px 30px;
    color: #fff;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;

    &:hover {
        text-decoration: none;
        background-color: lighten($orange, 15%);
    }
}

strong {
    font-weight: bolder;
    font-size: 1.2em;
    line-height: normal;
}
