/* Header
================================================ */
header {
    text-align: center;

    .logo {
        img {
            width: 150px;
            margin: 30px auto 25px;
        }
    }
}

/*  Navigation
================================================ */
.desk_nav {
    position: relative;

    .container {
        position: relative;

        div.social {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;
            justify-content: center;

            a {
                font-size: 20px;
                display: inline-flex;
                margin: 0 5px;
                color: $orange;
                transition: $transition;

                &:hover {
                    text-decoration: none;
                    color: $blue;
                }
            }
        }
    }

    .menu-navigation-container {
        ul {
            display: flex;
            justify-content: center;
            padding: 0;
            li {
                &:not(:last-child) {
                    border-right: solid 3px $blue;
                }
                list-style: none;
                padding: 0 18px;
                line-height: 1;
                display: flex;
                align-items: center;

                a {
                    top: 2px;
                    position: relative;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: black;
                    text-decoration: none;
                    transition: .1s;
                    &:hover {
                        color: $blue;
                    }
                }

                &.current_page_item {
                    a {
                        color: $blue;
                    }
                }
            }
        }
    }
}
.mob_nav {
    display: none;
    position: fixed;
    background-color: $blue;
    width: 100vw;
    z-index: 10;
    top: -500px;
    transition: .4s;
    border-bottom: 4px solid white;
    box-shadow: 0 9px 10px 0 rgba(0,0,0,0.2);
    .menu-navigation-container {
        ul {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0;
            li {
                text-align: center;
                list-style: none;
                line-height: 1;
                display: flex;
                justify-content: center;
                margin: 2px 0;
                &.current-menu-item {
                    a {
                        background-color: $orange;
                    }
                }

                a {
                    padding: 10px 0;
                    width: 80vw;
                    display: block;
                    text-align: center;
                    top: 2px;
                    position: relative;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: white;
                    font-weight: 700;
                    text-decoration: none;
                    &:hover {
                        background-color: $orange;
                    }
                }
            }
        }
    }
}
.pop {
    display: none;
    position: fixed;
    z-index: 20;
    top: 10px;
    left: 10px;
    width: 30px;
    fill: $blue;
    transition: 0.1s;
    cursor: pointer;
}
