/* Home
================================================ */
#home {
    .row.weazer {
        position: relative;
        flex-direction: row;
        align-items: center;
        padding: 0;

        h1 {
            color: white;
            font-size: 30px;
            .title {
                font-size: 120px;
                line-height: 1;
                margin: 0;
                display: block;
            }
            strong {
                font-weight: 900;
                font-size: 1.4em;
            }
        }
        > div {
            position: relative;

            img {
                max-height: 35vw;
                display: block;
                margin: 0 auto;
            }
            .app {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 3;

                .download {
                    background-color: $orange;
                    transition: $transition;
                    margin: 0 auto;

                    &:before {
                        background: url('../images/dash_right-orange-min.png');
                        z-index: 1;
                        content: '';
                        position: absolute;
                        left: -63px;
                        bottom: 0;
                        $bg-h: 48px;
                        $bg-w: 48px;
                        height: $bg-h;
                        width: $bg-w;
                        background-repeat: no-repeat;
                        background-size: contain;
                        display: block;
                    }
                    &:after {
                        background: url('../images/dash_left-orange-min.png');
                        z-index: 1;
                        content: '';
                        position: absolute;
                        right: -66px;
                        bottom: 0;
                        $bg-h: 48px;
                        $bg-w: 48px;
                        height: $bg-h;
                        width: $bg-w;
                        background-repeat: no-repeat;
                        background-size: contain;
                        display: block;
                    }

                    a, span {
                        color: white;
                        text-decoration: none;
                        font-weight: 700;
                        text-align: center;
                        display: block;
                        font-size: 18px;
                        font-family: 'Arial';
                        padding: 10px 18px;
                        transition: $transition;
                        text-transform: uppercase;
                    }

                    a {
                        &:hover {
                            background-color: #fff;
                            color: $orange;
                        }
                    }

                }
                .stores {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                    .mobile {
                        display: none;
                    }
                    a.desk {
                        display: block;
                        height: 25px;
                        padding: 0 5px;
                        width: calc(50% - 40px);
                        transition: $transition;

                        &:nth-child(1) {
                            border: 10px solid $pink;
                            background: $pink url('../images/apple-min.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;

                            &:hover {
                                background-color: lighten($pink, 15%);
                                border-color: lighten($pink, 15%);
                            }
                        }
                        &:nth-child(2) {
                            border: 10px solid $blue;
                            background: $blue url('../images/google-min.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;

                            &:hover {
                                background-color: lighten($blue, 15%);
                                border-color: lighten($blue, 15%);
                            }
                        }
                    }

                    span {
                        cursor: not-allowed;
                        display: block;
                        height: 25px;
                        padding: 0 5px;
                        width: calc(50% - 40px);
                        transition: $transition;

                        &:nth-child(1) {
                            border: 10px solid $pink;
                            background: $pink url('../images/apple-min.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        &:nth-child(2) {
                            border: 10px solid $blue;
                            background: $blue url('../images/google-min.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }
        }
    }
    .row.recrutez_autrement {
        align-items: flex-end;
        p, .titre-3 {
            width: 65%;
            z-index: 3;
        }
        p {
            margin-bottom: 55px;
        }
        img {
            position: absolute;
            left: 0;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
    .row.adopte_weazer {
        padding: 5px;
        .titre-3 {
            margin: 10px 0;
        }
        hr {
            width: 100vw;
        }
        div {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            img {
                margin: 10px 30px;
                filter: brightness(0) invert(1);
                width: auto;
            }
        }
    }
    .row.matching_innovant {
        .titre-3 {
            margin: 50px 0;
        }
        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            article {
                width: 40%;
                height: 250px;
                .titre-4 {
                    font-size: 25px;
                    font-weight: 900;
                    color: $blue;
                    background-color: white;
                    width: 100%;
                    padding: 8px 5px 5px 32px;
                    margin: 0 0 0 0;
                    position: relative;
                    box-sizing: border-box;

                    &:after {
                        content: '•';
                        position: absolute;
                        left: 15px;
                        top: 50%;
                        transform: translateY(-40%);
                    }
                }
                p {
                    font-size: 19px;
                    width: 100%;
                    margin-bottom: 55px;
                }
            }
            img {
                width: 10%;
                object-fit: contain;
            }
        }
    }

    .row.marque_employeur {
        align-items: flex-end;
        p {
            width: 75%;
        }
        img {
            position: absolute;
            left: -2px;
            bottom: -40px;
            height: 170%;
        }
    }
}

.row.recrutez_personnalite {
    align-items: flex-start;

    p {
        width: 60%;
    }
    img {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateX(50%);
    }
    div {
        h3 {
            @extend .titre-4;
            z-index: 1;
            font-weight: 900;
            color: $orange;
            background-color: white;
            width: 400px;
            padding: 5px 15px 5px 32px;
            margin: 0 0 0 0;
            position: relative;
            box-sizing: border-box;

            &:before {
                z-index: -1;
                content: '';
                position: absolute;
                left: 0;
                top: -60px;
                $bg-h: 80px;
                $bg-w: 920px;
                height: $bg-h;
                width: $bg-w;
                background-repeat: no-repeat;
                background-size: contain;
                transform: translateX(-88%);
            }

            &:after {
                content: '•';
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-40%);
            }

            &:nth-of-type(2n) {
                &:before {
                    background-image: url('../images/illu1-min.png') ;
                }
            }

            &:nth-of-type(2n+1) {
                &:before {
                    background-image: url('../images/illu2-min.png') ;
                }
            }
        }
        p {
            font-size: 20px;
            padding-left: 60px;
            margin: 5px 0 30px 0;
        }
    }
}
