/*  Page
================================================ */

#wrapper.default {
    main {
        display: flex;

        > section:not(.empty) {
            padding: 80px 0;

            h1, h2, h3, h4 {
                font-size: inherit;
                padding: 0;
                width: inherit;
                width: 100%;

                &:first-child {
                    margin-top: 0;
                }
            }

            h1 {
                font-size: 44px;
                margin: 80px 0 40px;
            }

            h2 {
                width: 100%;
                font-size: 24px;
                margin: 40px 0 20px;
            }

            h3 {
                font-weight: bold;
                margin: 20px 0 10px;
            }

            a {
                color: $blue;
            }

            li, p {
                font-size: 16px;
                line-height: 1.6;

                strong {
                    font-size: inherit;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        > section.empty {
            flex-grow: 1;
            display: flex;

            .bg-orange {
                flex-grow: 1;
                display: flex;
            }

            h1 {
                font-size: 44px;
            }

            p {
                font-size: 32px !important;
                font-weight: bold;
            }
        }
    }
}

.error {
    text-align: center;

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
