/*  Responsive
================================================ */

@media screen and (max-width: 1440px) {
    .row {
        width: 1080px;
        .titre-2 {
            font-size: 30px;
        }
        .titre-3 {
            font-size: 25px;
        }
        .titre-4 {
            font-size: 22px !important;
        }
        li, p {
            font-size: 20px !important;
        }
    }
}

@media screen and (max-width: 1220px) {
    .row {
        width: 720px;
        .titre-2 {
            font-size: 27px;
            padding: 10px 25px !important;
        }
        .titre-3 {
            font-size: 22px;
        }
        .titre-4 {
            font-size: 19px !important;
        }
        li, p {
            font-size: 17px !important;
        }
    }

    header {
        .desk_nav {
            position: relative;

            .container {
                position: initial;

                .social {
                    left: 10px;
                }
            }
        }
    }

    #home {
        .row.weazer {
            height: initial;
            flex-direction: column;
            h1 {
                text-align: center;
                .title {
                    font-size: 100px;
                }
            }
            > div {
                .app {
                    position: relative;
                    right: initial;
                    bottom: initial;
                    .download {
                        width: 275px;
                        &:before {
                            background: url('../images/dash_right-min.png');
                            z-index: 1;
                            content: '';
                            position: absolute;
                            left: -63px;
                            top: 10px;
                            $bg-h: 48px;
                            $bg-w: 48px;
                            height: $bg-h;
                            width: $bg-w;
                            background-repeat: no-repeat;
                            background-size: contain;
                            display: block;
                        }
                        &:after {
                            background: url('../images/dash_left-min.png');
                            z-index: 1;
                            content: '';
                            position: absolute;
                            right: -66px;
                            top: 10px;
                            $bg-h: 48px;
                            $bg-w: 48px;
                            height: $bg-h;
                            width: $bg-w;
                            background-repeat: no-repeat;
                            background-size: contain;
                            display: block;
                        }
                        a {
                            display: none;
                        }
                    }
                    .stores {
                        .desk {
                            display: none !important;
                        }
                        .mobile {
                            display: block;
                            height: inherit;
                            width: inherit;

                            img {
                                width: 150px;
                                height: 50px;
                                padding: 0 10px;
                            }
                        }
                    }
                }

                .img-section {
                    margin-top: 20px;
                }
            }
        }

        .row.marque_employeur {

            img {
                transform: translateX(-25%);
            }
        }
    }
    .row.recrutez_personnalite {
        div {
            p {
                padding-left: 0;
                padding-top: 10px;
            }
        }
        img {
            transform: translateX(40%);
        }
    }

    #tarifs {
        .row {
            ul {
                width: 58%;
            }
            .sub {
                font-size: 18px !important;
                &:nth-child(odd) {
                    left: -15%;
                }
                &:nth-child(even) {
                    right: -15%;
                }
            }
        }
        .row.premium a, .row.standard a {
            margin: 30px auto;
        }
    }

    #wrapper.default {
        main {
            padding: 40px 0;

            h1 {
                font-size: 27px;
                margin: 60px 0 30px;
            }

            h2 {
                width: 100%;
                font-size: 22px;
                margin: 30px 0 15px;
            }
        }
    }

    footer {
        padding-top: 30px;
        .logo_w {
            height: 55px;
        }
        .coords {
            font-size: 15px !important;
        }
        .social {
            a {
                img {
                    height: 40px !important;
                }
            }
        }
        .button {
            a {
                font-size: 15px !important;
            }
        }
    }

    .container {
        width: 85%;
    }
}

@media screen and (max-width: 750px) {
    .pop {
        display: block;
    }
    .mob_nav {
        display: block;
    }
    .desk_nav {
        display: none;
    }

    main {
        > section:first-child {
            > .separator:first-child {
                display: none;
            }
        }
    }

    header {
        .logo {
            img {
                width: 80px;
            }
        }
    }
    .separator {
        height: 50px;
    }
    hr {
        height: 3px !important;
        margin: 0 0 10px 0 !important;
    }
    .row {
        width: 480px;
        .titre-2 {
            padding: 5px 25px !important;
            font-size: 24px;
        }
        .titre-3 {
            font-size: 20px;
        }
        .titre-4 {
            font-size: 17px !important;
        }
        li, p {
            font-size: 15px !important;
        }
    }
    #home {
        .row.weazer {
            h1 {
                .title {
                    font-size: 70px !important;
                    line-height: 1.3;
                }
            }
        }
        .row.matching_innovant {
            div {
                flex-direction: column;
                article {
                    width: 100%;
                    height: initial;
                }
                img {
                    display: none;
                }
            }
        }
    }
    .row.recrutez_personnalite {
        img {
            transform: translateX(20%);
        }
    }
    #tarifs {
        .row {
            .sub {
                padding: 0 20px;
                &:after {
                    display: none;
                }
                &:before {
                    display: none;
                }
            }
        }
    }
    #contact {
        .row.formulaire {
            form {
                max-width: 95%;
            }
        }
    }
    footer {
        >* {
            margin-right: 0;
        }
        flex-direction: column;
        .social {
            margin-top: 15px;
            a {
                img {
                    margin: 0 !important;
                    height: 30px !important;
                }
            }
        }
    }

    .btn {
        padding: 15px;
        width: 100%;
    }

    .img-section {
        height: 70%;
    }

    strong {
        font-size: 1.1em;
    }
}
@media screen and (max-width: 500px) {
    .separator2 {
        display: none;
    }
    .row {
        width: calc(100% - 40px);
        .titre-2 {
            font-size: 20px;
        }
        .titre-3 {
            font-size: 17px;
        }
        .titre-3, .titre-4, p {
            text-align: justify;
            font-size: 13px !important;
        }
        li {
            text-align: left;
            font-size: 13px !important;
        }
    }
    #home {
        .row.weazer {
            h1 {
                font-size: 24px;
            }
        }
        .row.adopte_weazer {
            .titre-3 {
                text-align: center;
            }
        }
    }
    .row.recrutez_personnalite {
        div {
            .titre-4 {
                width: 100%;
            }
        }
    }

    #about {
        .row.lequipe {
            > div:nth-of-type(2n+1), > div:nth-of-type(2n) {
                flex-direction: column;

                > div:first-of-type, > div:last-of-type {
                    margin: 15px;
                    width: calc(100% - 30px);
                    padding: 0;
                    flex-direction: column;
                    align-items: center;

                    img {
                        position: relative;
                        margin-bottom: -1px;
                        left: inherit;
                        transform: inherit;
                    }
                }
            }
        }
    }

    #contact {
        .row.formulaire form p:nth-child(3):before, .row.formulaire form p:nth-child(3):after {
            display: none;
        }
    }

    #wrapper.default {
        main {
            > section.empty {
                h1 {
                    font-size: 20px;
                }

                p {
                    font-size: inherit !important;
                }
            }
        }
    }

    footer {
        text-align: center;

        .container > div {
            flex-direction: column;
        }
    }

    .container {
        width: 90%;
    }
}
