#tarifs {
    h1 {
        padding: 0;
        text-align: center;
    }

    .row {
        ul {
            margin: 20px 0 0 1em;
            padding: 0;
        }
    }
    .row.standard {
        align-items: flex-start;
        .react {
            position: absolute;
            right: 0;
            transform: translateX(40%);
            bottom: 0;
        }
        a {
            background-color: white;
            text-decoration: none;
            font-weight: 900;
            font-size: 25px;
            margin: 25px 0 50px 0;
            transition: $transition;

            &.orange {
                &:hover {
                    background-color: $orange;
                    color: #fff;
                }
            }

            &.pink {
                &:hover {
                    background-color: $pink;
                    color: #fff;
                }
            }
        }
    }
    .row.premium {
        align-items: flex-end;
        img {
            position: absolute;
            left: 0;
            height: 96%;
            max-height: 34vw;
            transform: translateX(-50%);
            bottom: 0;
        }
        a {
            background-color: white;
            text-decoration: none;
            font-weight: 900;
            font-size: 25px;
            margin: 25px 0 50px 0;
            transition: $transition;

            &.blue {
                &:hover {
                    background-color: $blue;
                    color: #fff;
                }
            }
        }
    }
    .sub {
        height: 50px;
        display: flex;
        align-items: center;
        position: relative;
        &:nth-child(odd) {
            left: 15%;
        }
        &:nth-child(even) {
            right: 15%;
        }
        &:before {
            background: url('../images/dash_right-min.png');
            z-index: 1;
            content: '';
            position: relative;
            left: -63px;
            top: 0px;
            $bg-h: 48px;
            $bg-w: 48px;
            height: $bg-h;
            width: $bg-w;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
        }
        &:after {
            background: url('../images/dash_left-min.png');
            z-index: 1;
            content: '';
            position: relative;
            right: -66px;
            top: 0px;
            $bg-h: 48px;
            $bg-w: 48px;
            height: $bg-h;
            width: $bg-w;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
        }
    }
}
